<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
  body {
    background: #E0FFFF;
    color: #fc0;
  }
</style>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="id">id</label>
    <input type="number" th:field="*{id}" id="id" placeholder="id">
    <label for="link">link</label>
    <input type="text" th:field="*{link}" id="link" placeholder="link">
    <input type="submit" value="Create User">
</form>
</body>
</html>