<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Все пользователи</title>
<style>
  body {
    background: #E0FFFF;
    color: #606;
  }
</style>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Пользователи</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>username</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td><a th:href="@{user-update/{id}(id=${user.id})}">Изменить</a></td>
                <td><a th:href="@{user-delete/{id}(id=${user.id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Создать</a></p>
    <tr th:url value="login?logout" var="logoutUrl"/>
    <p><a href="${logoutUrl}">Выйти</a></p>
</div>
</body>
</body>
</html>